# Path to your oh-my-zsh installation.
if [[ -f $HOME/.aliases ]]; then
	. $HOME/.aliases
fi

{{ template "nvm_setup" . }}

export PATH="$PATH:$HOME/.bin"

export AZ_TENANT_DEV=cec66056-1016-4c62-9a66-c64bb3d8acf6

eval "$(starship init zsh)"
