printf "Loading sw custom shell setup\n"

{{- if eq .defaultShell "zsh" }}
autoload -Uz compinit && compinit;
{{ end }}

load_if_exists() {
	if [[ -f $1 ]]; then
		. $1
	fi
}

load_if_exists "$HOME/.aliases"
load_if_exists "$HOME/.tokens"

eval "$(starship init {{ .defaultShell -}})"
