#!/bin/sh

{{- if eq .defaultShell "zsh" }}
rcfile="$HOME/.zshrc"
{{ else if eq .defaultShell "bash" }}
rcfile="$HOME/.bashrc"
{{- end }}

# Ensure the rcfile exists
[ ! -f "$rcfile" ] && touch "$rcfile"

# Append sourcing line only if it's missing
if ! grep -qF ". \"$HOME/.swrc\"" "$rcfile"; then
    printf "\n. \"$HOME/.swrc\"\n" >> "$rcfile"
fi
